@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Ephesis&family=Poiret+One&display=swap');

.remote-nightclub-body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(225, 225, 225);
    color: white;
    overflow: hidden;
}

header {
    text-align: center;
    color: black;
    font-size: 0.8em;
    h1 {
        margin-top: 40px; 
        font-family: "Bungee", sans-serif;
    }
}

.television {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    min-height: 250px;
    
    width: 80%;
    max-width: 700px;
    z-index: 10;
    position: absolute;
    border: 10px solid rgb(0, 0, 0);

    transition: 0.5s ease-out;
}

.television.television-change-size {
    width: 50%;
    max-width: 400px;
    height: 30%;
    top: 20%;
}

.event-info {
    position: absolute;
    display: flex;
    height: 96%;
    width: 96%;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    color: rgb(255, 255, 255);
    z-index: 5;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);

    h1 {
        margin: 0;
        font-family: "Bungee", sans-serif;

    }
    p {
        margin-bottom: 0;
    }
}

.event-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 5%;
    left: 5%;
}
.video-container {
    position: absolute;

    height: 100%;
    width: 100%;
    overflow: hidden;

}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}




.floor-img {
    position: absolute;
    height: 180%;
    width: 120%;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-out;
}

.floor-img.floor-raised {
    height: 120%; 
    width: 102%;

    top: 45%; 
}

.ticketwrapper {
    position: fixed;
    background-color: rgb(108, 108, 108);
    border-radius: 10px;
    width: 300px;
    height: 33%;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: bottom 0.5s ease-out;
}

.tabelfoot {
    position: absolute;
    width: 30px;
    height: 200px;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgb(168, 168, 168);
    border-right: 3px solid rgb(120, 120, 120);
    border-left: 3px solid rgb(223, 223, 223);
}


.ticketwrapper.visible {
    bottom: 8%; /* Den slutliga positionen när den visas */
}

.ticket-form {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2.5px solid rgb(181, 181, 181);
    color: black;
    position: absolute;
    display: flex;
    z-index: 5;

    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 55px);
    width: calc(100% - 55px);
    margin: 5px;
    padding: 20px;

    div {
        display: flex;
        justify-content:space-between;
        align-items: stretch;
    }

    label {
        margin-right: 10px;
    }

    h1 {
        margin: 0;
        text-align: center;
    }
    button {
        margin: 0;
    }
    input {
        width: auto;
        flex-grow: 1; 
    }
    select {
        flex-grow: 1; 
    }
    .customerName {
        white-space: nowrap;
    }

}



.remote {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 30px;
    bottom: 16%;
    right: 5%;
    z-index: 25; /* Lägg till detta för att säkerställa att fjärrkontrollen ligger högst upp */
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(100, 100, 100);
}

.event-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    button {
        height: 30px;
        width: 30px;
        margin: 5px;
    }
    button:nth-child(1) {
        transform: rotate(-90deg);
    }
    button:nth-child(2) {
        transform: rotate(90deg);

    }
}

.ticket-img {
    width: 40px;
    transform: rotate(90deg);
}

.light-toggle {
    z-index: 20;
}


.dark-mode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.916);
    color: white;
    pointer-events: none;
}

.crowd {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    animation: dance 1s infinite;
}

@keyframes dance {
    0% {
        height: 75%;
    }
    50% {
        height: 78%;
    }
    100% {
        height: 75%;
    }
}

.hidden {
    display: none;
}