@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Ephesis&family=Poiret+One&display=swap');

.remote-nightclub-body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(225, 225, 225);
    color: white;
    overflow-x: hidden;
}

header {
    position: absolute;
    text-align: center;
    top: 3%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    color: black;
    h1 {
        margin-top: 40px; 
        font-family: "Bungee", sans-serif;
        transition: 0.5s ease-out;
    }
}




header h1.header-shrunk {
    font-size: 1.2em;
    margin-top: 114px;
}

.television {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    min-height: 250px;
    
    width: 80%;
    max-width: 700px;
    z-index: 10;
    position: absolute;
    border: 10px solid rgb(0, 0, 0);
    cursor: pointer;

    transition: 0.5s ease-out;
}

.television.television-change-size {
    width: 50%;
    max-width: 400px;
    height: 30%;
    top: 20%;
}

.event-info {
    position: absolute;
    display: flex;
    height: 96%;
    width: 96%;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    color: rgb(255, 255, 255);
    z-index: 5;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);


    p {
        margin-top: 5px;
        font-style: oblique;
        width: 70%;
    }
    
}

.event-title {
    margin: 0;
    line-height: 1.1;
    font-size: 4rem;
    color: rgb(255, 23, 93);
    font-family: "Bungee", sans-serif;
    transition: 0.5s ease-in-out;
}

.event-title-shrunk {
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-shadow: none;


}

.event-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 5%;
    left: 5%;
}
.video-container {
    position: absolute;

    height: 100%;
    width: 100%;
    overflow: hidden;

}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}


.scene {
    position: absolute;
    height: 100%;
    width: 100%; 
    bottom: 0;
    left: 0;
    overflow-x: hidden; 
}



.ticketwrapper {
    position: fixed;
    background-color: rgb(108, 108, 108);
    border-radius: 10px;
    width: 1000px;
    height: 33%;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    transition: 0.5s ease-out;
}

.ticketwrapper.visible {
    bottom: 8%;
    width: 280px;
    min-height: 280px;
    height: 33%;
    .ticket-form > h1 {
        font-size: 1.7em;
    }
}

.tabelfoot {
    position: absolute;
    width: 30px;
    height: 200px;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgb(168, 168, 168);
    border-right: 3px solid rgb(120, 120, 120);
    border-left: 3px solid rgb(223, 223, 223);
}




.ticket-form {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 7.5px solid rgb(181, 181, 181);
    color: black;
    position: absolute;
    display: flex;
    z-index: 5;

    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 65px);
    width: calc(100% - 65px);
    margin: 5px;
    padding: 20px;

    div {
        display: flex;
        justify-content:space-between;
        align-items: center;
        max-width: 100%;
    }

    label {
        margin-right: 0px;
        flex-shrink: 0;
        color: rgb(99, 99, 99);
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
    }

    h1 {
        margin: 0;
        margin-top: -10px;
        font-family: "Bungee", sans-serif;
        text-align: center;
        font-size: 7em;
        transition: 0.5s ease-out;


    }
    button {
        margin: 0;
    }
    input {
        margin-left: 5px;
        width: 100%;
        flex-grow: 1; 
        height: 15px;
        padding-inline: 5px;
        border: 2px solid rgba(190, 190, 190, 0.883);
    }
    select {
        margin-left: 5px;
        flex-grow: 1; 
        border: 2px solid rgba(190, 190, 190, 0.883);
    }
    .customerName {
        white-space: nowrap;
    }

}



.remote {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 30px;
    bottom: 10%;
    right: 10%;
    z-index: 99; 
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(100, 100, 100);
}

.event-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    button {
        height: 30px;
        width: 30px;
        margin: 5px;
        cursor: pointer;

    }
    button:nth-child(1) {
        transform: rotate(-90deg);
    }
    button:nth-child(2) {
        transform: rotate(90deg);

    }
}

.ticket-button {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;

}

.ticket-img {
    width: 20px;
    cursor: pointer;

}

.light-toggle {
    z-index: 20;
    cursor: pointer;

}


.dark-mode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.916);
    color: white;
    pointer-events: none;
    animation: dancelight 1s infinite;
}

@keyframes dancelight {
    0% {
        background-color: rgba(4, 55, 13, 0.916);
    }
    25% {
        background-color: rgba(0, 14, 34, 0.899);
    }
    50% {
        background-color: rgba(20, 2, 22, 0.916);
    }
    75% {
        background-color: rgba(22, 16, 2, 0.916);
    }
    100% {
        background-color: rgba(4, 55, 13, 0.916);
    }
}

.hidden {
    display: none;
}

.floor-img {
    position: absolute;
    height: 30%;
    width: 200%;

    left: 50%;
    bottom: 0%;
    z-index: 1;
    transform: translateX( -50%);
    transition: 0.5s ease-out;
}

.floor-img.floor-raised {
    height: 45%; 
    width: 100%;
    bottom: 0%;
}

.admin-menu-header {
    button {
        padding: 10px;
        border-radius: 20px;
    }
}

.admin-show-event {
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(15, 99, 99);
    padding: 10px 10px;
    margin: 5%;
    h1 {
        margin: 0;
    }
}

.admin-panel {
    position: absolute;
    background-color: rgb(44, 81, 81);
    width: 100vw;
    height: 100vh;
    padding-top: 10%;
    z-index: 100;
}

.admin-btn {
    position: absolute;
    left: 10px;
    z-index: 101;
    pointer-events: fill;
    cursor: pointer;

}

#createEventForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
}

#createEventForm div {
    width: 80%;
    margin-bottom: 15px;
    padding: 0 15px; 
}

#createEventForm label {
    display: block; 
    text-align: left; /* Tvingar texten i label att stå till vänster */
    margin-bottom: 5px;
    font-weight: bold; /* Valfritt: Gör label-texten fet för bättre läsbarhet */
}

#createEventForm input,
#createEventForm textarea {
    width: 100%; 
    padding: 10px;

    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

#createEventForm button {
    margin-top: auto;
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    margin: 20px 0;
}