<template>
  <style>
    .about > h1 {
      margin: 0;
      text-align: center;
      font-size: 3rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 100;
      color: #f1f1f1;
    }
  </style>

  <div class='about'>
    <h1>About</h1>
    <p>At EDM Club, we live and breathe electronic dance music. We're a vibrant community of music lovers, DJs, producers, and partygoers united by our shared passion for pulsating beats, euphoric drops, and unforgettable nights. Whether you're into house, techno, trance, dubstep, or future bass, there's a place for you here.
    <br /><br />
Our mission is simple: to create a space where creativity, connection, and rhythm collide. From hosting electrifying events and DJ workshops to sharing the latest tracks and production tips, EDM Club is your go-to hub for everything electronic.
    <br /><br />
We believe in the power of music to bring people together, break boundaries, and ignite inspiration. So whether you're a seasoned raver or just discovering the genre, come join the movement. Let’s turn up the volume, light up the dance floor, and celebrate the sound that moves us all.</p>
  </div>
</template>